.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message-box {
  background-color: #3b4049;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message-box h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.message-box p {
  font-size: 2rem;
  color: #61dafb;
}